In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from torch.utils.data import Dataset,DataLoader
import torch.nn as nn
import torch
from tqdm.auto import tqdm
from torch.utils.data import TensorDataset # 텐서데이터셋
from torch.utils.data import DataLoader # 데이터로더
device = torch.device("cuda:0" if torch.cuda.is_available() else "cpu")

import pandas as pd
import random
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from torch import optim
plt.rcParams['font.family'] = 'Malgun Gothic'
# 데이터 불러오기
df_all=pd.read_csv('../data_v3/감성점수와 일별뉴스 합친거.csv',encoding='utf-8')
df = df_all.iloc[:,[1,2,5]]

# 데이터 불러오기
df_all=pd.read_csv('../data_v3/감성점수와 일별뉴스 합친거.csv',encoding='utf-8')
df = df_all.iloc[:,[1,2,5]]

df_all=pd.read_excel('../data_v3/전국경락단가.xlsx')

df_all

df['경락단가_평균']=df_all['price']

df_all

df.columns=['경락단가', '도매가격', 'day_sentiment']

df

df

C:\Users\jaemin\Anaconda3\envs\jm\lib\site-packages\ipykernel_launcher.py:26: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype={value.dtype})

            경락단가  도매가격  day_sentiment
0    3750.366093  4104       0.000000
1    3547.574932  4049       0.000000
2    3696.060897  3920      -0.104167
3    3770.156364  3917      -0.104167
4    3815.720635  4090      -0.104167
..           ...   ...            ...
863  4547.071429  5816       0.175000
864  4373.212544  5584      -0.116270
865  4278.649485  5723      -0.116270
866  4322.080986  5609      -0.116270
867  4138.037190  5867      -0.116270

[868 rows x 3 columns]

In [11]:
df_all

           date  price
0    2018-01-02   4104
1    2018-01-03   4049
2    2018-01-04   3920
3    2018-01-05   3917
4    2018-01-08   4090
...         ...    ...
999  2021-12-27   4825
1000 2021-12-28   4674
1001 2021-12-29   4904
1002 2021-12-30   5000
1003 2021-12-31   5062

[1004 rows x 2 columns]

In [12]:
df['도매가격']=df_all['price']

In [13]:
df

            경락단가      경락단가_평균  day_sentiment  도매가격
0    3750.366093  3750.366093       0.000000  4104
1    3547.574932  3547.574932       0.000000  4049
2    3696.060897  3696.060897      -0.104167  3920
3    3770.156364  3770.156364      -0.104167  3917
4    3815.720635  3815.720635      -0.104167  4090
..           ...          ...            ...   ...
863  4547.071429  4547.071429       0.175000  5816
864  4373.212544  4373.212544      -0.116270  5584
865  4278.649485  4278.649485      -0.116270  5723
866  4322.080986  4322.080986      -0.116270  5609
867  4138.037190  4138.037190      -0.116270  5867

[868 rows x 4 columns]

In [ ]:
df

In [14]:
df.columns=['경락단가', '도매가격', 'day_sentiment']

df

df

ValueError: Length mismatch: Expected axis has 4 elements, new values have 3 elements

In [15]:
df.describe()

              경락단가      경락단가_평균  day_sentiment         도매가격
count   868.000000   868.000000     868.000000   868.000000
mean   4347.634802  4347.634802      -0.111476  4446.341014
std     762.449408   762.449408       0.254259   683.861832
min    2120.549342  2120.549342      -1.000000  2021.000000
25%    3809.038049  3809.038049      -0.250000  3941.750000
50%    4306.203227  4306.203227      -0.069444  4481.000000
75%    4931.618600  4931.618600       0.005655  4922.750000
max    6647.612500  6647.612500       1.000000  6201.000000